body {
    background-color: #F9FFEE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
}

H1 {
    font-family: TT Commons, serif;
    font-size: 40px;
    font-weight: 600;
    color: #0B4F6B;
}   