.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 500px;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
}

body {
    background-color: #F9FFEE;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

H1 {
    font-family: TT Commons, serif;
    font-size: 45px;
    font-weight: bold;
    color: #06244F;
    text-align: center;
    margin-top: 15px;
}   

.graphic {
    display: block;
    margin: 0 auto;
}

@font-face {
    font-family: TT Commons;
    src: url(/Fonts/TT\ Commons\ Bold.otf);
    font-weight: bold;
  }